<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Registration Form</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/registration.css}" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>#rightbod {
        display:inline-block;
        height:4200px;
        width:1200px;
        position: absolute;
        left: 30%;
        top: 25%;
    }</style>
</head>
<body>


<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html" th:href="@{/}">Top News</a>
        </div>
    </div>
</div>
<div id="rightbod">
    <form autocomplete="off" action="#" th:action="@{/registration}"  method="post" class="form-horizontal"
          role="form">
        <h2>Регистрация</h2>
        <div class="form-group">
            <div class="col-sm-9">
                <input type="text" placeholder="Name" id="username" name="username"
                       class="form-control" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-9">
                <input type="password" id="password" name="password"
                       placeholder="Password" class="form-control" />
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-9">
                <button type="submit" class="btn btn-primary btn-block">Register User</button>
            </div>
        </div>

        <span th:utext="${successMessage}"></span>

    </form>
</div>
</body>
</html>